.ionide/
packages/
bin/
obj/
Debug/
Release/
.vs/
.vscode/

*.orig
*.cs.REMOTE
*.cs.REMOTE.*.cs
*.cs.LOCAL.*.cs
*.cs.BASE.*.cs
*.cs.BACKUP.*.cs
*.tmp
*.suo
*.user

*.bak
*.log

Innova.LlmService.Api/logs/
Innova.LlmService.Api/Properties/PublishProfiles/
